body
{
background-color: #33ccaa;
padding: 70px;
}
p
{
width: 70%;
padding: 30px;
text-align: center;
background-color: #ffffaa;
border-color: #770077;
border-radius: 30px;
}
a
{
font-style: Comic Sans MS, Arial;
font-size: 30;
color: #007777;
}
