body{
background-color: #003333;
padding: 70px 150px;
font-size: 37;
color: #ffff77;
}
p{
width: 70%;
padding: 30px;
text-align: center;
background-color: #005555;
border-radius: 30px;
text-decoration: none;
}
a{
font-style: Comic Sans MS, Arial;
font-size: 21;
color: #ffffaa;
text-decoration: none;
}
