body
{
background-color: #003333;
padding: 150px;
}
p
{
width: 35%;
padding: 30px;
text-align: center;
background-color: #007777;
border-radius: 30px;
}
a
{
font-style: Comic Sans MS, Arial;
font-size: 30;
color: #ffffaa;
}
